venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage
*.egg-info/
.ipynb_checkpoints/
env/
pip-log.txt
data/raw/*
data/processed/*
experiments/*
*.pkl
*.joblib
config/local.yaml
.DS_Store
logs/
logs/*.log
mlruns/
*.log
project.txt
CONTEXT.md